@charset "utf-8";
/* CSS Document */

header {
	width: auto;
	height: 100px;
	float: left;
}
#logo {
	width: 150px;
	height: 100px;
	float: left;
}
#optionButtons {
	width: 120px;
	height: 100px;
	float: right;
	margin-top: auto;
	padding-right: 10px;
	padding-top: 120px;
}
#nav {
	width: 120px;
	height: 30px;
	float: left;
	display: block;
	margin-top: 70px;
	text-align: center;
	clear: none;
}
#nav2 {
	width: 110px;
	height: 40px;
	display: block;
	text-align: left;
	float: left;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}
#nav1 {
	width: 180px;
	height: 30px;
	float: left;
	display: block;
	margin-top: 70px;
	clear: none;
}
#headerLogin {
	width: 200px;
	height: 100px;
	float: right;
	text-align: left;
}
#artistImg {
	width: 250px;
	height: 320px;
	float: left;
	margin-left: 50px;
	padding-top: 20px;
}
#artistDetails {
	height: 320px;
	float: left;
	max-width: 850px;
	width: auto;
	min-height: 800px;
}

#artistName {
	width: 250px;
	height: 20px;
	float: left;
}
#artistInfo {
	width: 1050px;
	height: 200px;
	margin-top: 15px;
	left: auto;
	right: auto;
	float: left;
	margin-left: 50px;
}

#upcomingEvents {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: auto;
	float: left;
	text-shadow: 0px 0px;

}
#infobox {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: auto;
	text-shadow: 0px 0px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	min-height: 320px;
	clear: left;

}
.textFont {
	font-family: arimo;
	font-style: normal;
	font-weight: 400;
	color: #7C7C7C;
	text-shadow: 0px 0px;
	text-align: justify;

}
#imgUpcomingEventText {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: auto;
	float: left;
	padding-left: 30px;
	padding-bottom: auto;
	padding-top: 20px;
	padding-right: 40px;
	height: auto;
}
#infoImg {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: auto;
	float: left;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-right: 40px;
	height: auto;
}
#infoImg2 {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: auto;
	padding-bottom: 30px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding-top: 5px;
}
#sponsors {
	margin-top: 30px;
	background-color: #FFFFFF;
	height: 180px;
}
#sponsorsHeader {
	height: 35px;
	margin-top: 20px;
}
#infoHeading {
	height: 35px;
	margin-top: 20px;
}
.headerFont3 {
	text-align: left;
	color: #575757;
	font-family: basic;
	font-style: normal;
	font-weight: 400;
	font-size: xx-large;
}
.headerFont4 {
	text-align: center;
	color: #575757;
	font-family: basic;
	font-style: normal;
	font-weight: 400;
	font-size: xx-large;
}
#upcomingEventsHeader {
	height: 45px;
	background-color: #BBD9EE;
	padding-top: 10px;
	padding-left: 20px;
	clear: left;
}
.headerFont {
	color: #FFFFFF;
	font-family: basic;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 30px;
}
.headerFont2 {
	color: #FFFFFF;
	font-family: basic;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	font-size: 30px;
}
#background {
	width: 1500px;
	height: 1000px;
	z-index: 1;
}
#wrap {
	background-image: url(url);
	background-color: #FFFFFF;
	min-width: 980px;
	padding-bottom: 20px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	min-height: 345px;
	padding-top: 0px;
}
#wrapmain {
	background-image: url(url);
	background-color: #206BA4;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	min-width: 1000px;
	padding-bottom: 20px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#sponsorsImg {
	width: 85px;
	height: 100px;
	padding-left: 10px;
	padding-right: 15px;
	float: left;
}
#sponsorsTxt {
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	text-align: left;
	width: 490px;
}
#footer {
	min-width: 1000px;
	height: 80px;
	padding-top: 5px;
	padding-left: 10px;
	background-color: #FFFFFF;
	color: #7F7F7F;
	font-family: arimo;
	font-style: normal;
	font-weight: 400;
}
#signIn {
	width: 112px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	height: 40px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	text-align: center;
}
#btnBuyTicket {
	width: 112px;
	margin-top: 5px;
	height: 40px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#signUp {
	width: 112px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	height: 40px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
#btnViewMore {
	width: 112px;
	margin-top: 5px;
	height: 40px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	margin-left: auto;
	margin-right: auto;
}
#headermain {
	width: auto;
	height: 100px;
	min-width: 800px;
}
#infotxt {
	width: auto;
	height: auto;
	min-width: 0px;
	max-width: auto;
	padding-left: 430px;
}
#infotxt2 {
	width: auto;
	height: auto;
	min-width: 0px;
	max-width: auto;
	padding-left: 30px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#artiststable {
    width: 100%;
    align-content: center;
    text-align: center;
}
#artiststable img {
 width:400px;
}
#artiststable td {
    width: 33%
}
tr:nth-child(even) td {background: #f1f1f1}

tr:nth-child(odd) td {background: #fefefe }
table {
    width: 100%;
    height: 300px;
    border-collapse: collapse;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #333;
    border-spacing: 0;
}
table td{
    padding: 5px;
}
table a {
    color: #206BA4;
}
#noticestable #one {
    border-right: 1px;
    width: 60%;
}
#noticestable #two {
    width: 20%;
}
#noticestable #three {
    width: 19%;
}
#noticestable img{
    float: right;
    width: 200px;
    padding: 5px;
}
#detailstable{
    width: 100%;
}
#detailstable #left{
    width: 60%;
}
#detailstable #right{
    width: 39%;
}
#detailstable img{
    width: 500px;
}
#eventstable img{
    width: 200px;
}
#noticesrow { 
    height: 10px;
}
div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#managementTable {
    height: auto;
}
#managementTable th {
    height: auto;
}
#loginTD {
    height: auto;
    width: auto;
}
    